.fuel { grid-area: fuel; }
.destination { grid-area: destination; }
.food { grid-area: food; }
.water { grid-area: water; }
.oxygen { grid-area: oxygen; }

/* For mobile: */

h1,
h2,
p,
span {
    /*
    font-weight: 200;
    font-size: 3em;
*/
    color: #fff;

}

h1 {
    font-size: 15px;

}

.container{
    display: grid;
    grid-template-areas:
        'fuel fuel'
        'destination destination'
        'food water'
        'oxygen oxygen';  
    grid-column-gap: 15px;
    grid-row-gap: 15px;
    padding: 15px;
}

@media only screen and (min-width: 768px) {
    /* For tablets: */
    
    h1{
        font-size: 30px
    }
    
    p, span {
        font-size: 20px;
    }
}

@media only screen and (min-width: 1024px) {
    /* For desktop: */
     .container {
        display: grid;
        grid-template-areas:
        'fuel destination'
        'food oxygen '
        'water oxygen';  
        grid-column-gap: 20px;
        grid-row-gap: 20px;
    }  
    
    h1{
        font-size: 40px;
    }
    p, span {
        font-size: 30px;
        margin-bottom: 20px;
    }
}