body {
    font-family: Space Mono, Verdana, sans-serif;
    text-align: center;
    background-color: #23253B;
}

h1, h2, p {
/*
    font-weight: 200;
    font-size: 3em;
*/
    color: #fff;

}

a {
    margin-top: 50px;
    display: block;
    color: #3e95cd;
}

@media only screen and (max-width: 375px) {
    /* For mobile: */
    .container {
        max-width: 345px;
        margin: 15px auto;
    }
    
    .container>div {
        background-color:rgba(41,57,85,0.7);
        padding:20px;
    }
}


@media only screen and (min-width: 375px) {
    /* For tablets: */
}

@media only screen and (min-width: 768px) {
    /* For desktop: */
}